streamlit
pandas
scikit-learn
transformers
sentence-transformers
spacy==3.8.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch
langdetect
deep-translator
SQLAlchemy
matplotlib
seaborn
joblib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
